* {
        margin: 0;
        pad: 0;
        box-sizing: border-box;
}

body {
        padding: 2rem;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        font-size: 2rem;
}

input,button{
        font-size: 2rem;
        padding: 1rem;
        border-radius: 4rem;
}
button {
        background: blue;
        color: bisque;
        cursor: pointer;
}
.weather-app {
        text-decoration: underline;
        color: gray;
        font-weight: 700;
}

.city-weather{
        color: blueviolet;
        font-weight: 700;
        text-decoration: darkgreen;
}